<div>
  <div class="cui__utils__heading">
    <strong>ProductWise Sales</strong>
  </div>
  <div class="card">
    <div class="card-header card-header-flex" style="border-bottom: 0;">

      <!-- <div class="d-flex flex-column justify-content-center mr-auto">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Search Products" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </div> -->



      <div class="col-xl-4" style="margin-top: 15px;">
        <nz-range-picker style="width: inherit;" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)">
        </nz-range-picker>
      </div>



    </div>
    <!-- <div class="card-body"> -->
    <nz-table #Prodrpt class="kit__utils__table mb-4 px-4" nzSize="small" [nzData]="ProdWise">
      <thead>
        <tr>
          <th style="text-align: center;">
            <strong>
              #
            </strong>
          </th>
          <th style="text-align: center;">
            <strong>
              Item
            </strong>
          </th>
          <th style="text-align: center;">
            <strong>
              Quantity
            </strong>
          </th>
          <th style="text-align: center;">
            <strong>
              Amount
            </strong>
          </th>
          <!-- <th style="text-align: center;">
                        <strong> Sales Percentage</strong>
                    </th> -->
          <!-- <th style="text-align: center;">
                        <strong>
                            Free Qty
                        </strong>
                    </th>
                    <th style="text-align: center;">
                        <strong>
                            Total Qty
                        </strong>
                    </th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pt of Prodrpt.data; let i = index">
          <td style="text-align: center;">
            {{i+1}}
          </td>
          <td style="text-align: center;">
            {{pt.product}}
          </td>
          <td style="text-align: center;">
            {{pt.orderQuantity}}
          </td>
          <td style="text-align: center;">
            {{pt.totalAmount}}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
