<div>
  <nz-badge [nzCount]="products.length">
    <div nz-dropdown nzTrigger="click" class="dropdown" [nzDropdownMenu]="menu">
      <i class="icon fe fe-bell"></i>
    </div>
  </nz-badge>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="card cui__utils__shadow width-350">
      <div class="card-body p-0">
        <div>
          <nz-tabset class="tabs" [nzSelectedIndex]="0">
            <nz-tab nzTitle="Alerts">
              <nz-table #basicTable class="kit__utils__table mb-3" [nzShowPagination]="false" nzSize="small"
                [nzData]="products">
                <thead>
                  <tr>
                    <th>
                      <strong>
                        Product
                      </strong>
                    </th>
                    <th>
                      <strong>
                        Quantity
                      </strong>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of basicTable.data">
                    <td>
                      {{item.product}}
                    </td>
                    <td>
                      {{item.quantity}}
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-tab>
            <!-- <nz-tab nzTitle="Events">
              <div class="text-center mb-3 py-4 bg-light rounded">No Events</div>
            </nz-tab>
            <nz-tab nzTitle="Actions">
              <div class="text-center mb-3 py-4 bg-light rounded">No Actions</div>
            </nz-tab> -->
          </nz-tabset>
        </div>
      </div>
    </div>
  </nz-dropdown-menu>
</div>
