<div class="footer">
  <div class="footerInner">
    <!-- <a href="https://sellpixels.com" target="_blank" rel="noopener noreferrer" class="logo">
      SELLPIXELS
      <span></span>
    </a> -->
    <a href="https://sellpixels.com" target="_blank" rel="noopener noreferrer" class="logo">
      Biz1Pos
    </a>
    <br/>
    <p class="mb-0">
      Copyright © 2022-2023 BizDom Solutions Pvt Ltd. |
      <a href="https://www.bizdom.co.in/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    </p>
  </div>
</div>
