<div class="cui__utils__heading">
  <div class="row">
    <div class="col">
      <strong>Store Name</strong>
    </div>
    <div class="col" style="text-align: right;">
      <strong class="text-right">subscription plan : Trial</strong>
    </div>
  </div>

  <div class="card card-body">
    <div class="row">
      <div class="col">
        <div class="card border-0 bg-success text-white" style="margin-bottom: 0;">
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center">
              <i class="fa fa-rupee font-size-50 mr-3"></i>
              <div>
                <div class="font-size-21 font-weight-bold">Total Sales</div>
                <div class="font-size-15">Total: {{toDaySales?.sales}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 bg-primary text-white" style="margin-bottom: 0;">
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center">
              <i class="fe fe-file-text font-size-50 mr-3"></i>
              <div>
                <div class="font-size-21 font-weight-bold">Invoices</div>
                <div class="font-size-15">Total: {{toDaySales?.bills}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 bg-light" style="margin-bottom: 0;">
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center">
              <i class="fa fa-users font-size-50 mr-3"></i>
              <div class="text-dark">
                <div class="font-size-21 font-weight-bold">Customers</div>
                <div class="font-size-15">Total: {{totalCustomers}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col">
        <div class="card border-0 bg-warning text-white" style="margin-bottom: 0;">
          <div class="card-body">
            <div class="d-flex flex-wrap align-items-center">
              <i class="fa fa-undo font-size-50 mr-3"></i>
              <div>
                <div class="font-size-21 font-weight-bold">Refunds</div>
                <div class="font-size-15">Total: 78,155</div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="card card-body">
    <div class="row">
      <div class="col-4">
        <div class="card" style="margin-bottom: 0;">
          <div class="card-body">

            <div *ngIf="showData">
              <div class="text-dark font-size-18 font-weight-bold mb-1">Sales By Customer</div>
              <div class="d-flex flex-wrap align-items-center">
                <div class="mr-3 mt-3 mb-3 position-relative">
                  <div style="width: 140px;">
                    <chart [type]="'doughnut'" [data]="chartData" [options]="options"></chart>
                  </div>
                  <div class="tooltip text-gray-5 font-size-28" #tooltip></div>
                </div>
                <div #legend></div>
              </div>
            </div>
            <!-- <kit-chart-9></kit-chart-9> -->

          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card" style="margin-bottom: 0;">
          <div class="card-body">

            <div *ngIf="showData">
              <div class="text-dark font-size-18 font-weight-bold mb-1">Monthly Revenue</div>
              <x-chartist
                [data]="barchartData"
                [type]="'Bar'"
                [options]="chartOptions"
                class="height-200 chart"
              >
              </x-chartist>
            </div>

            <!-- <kit-chart-5></kit-chart-5> -->

          </div>
        </div>
      </div>
    </div>
  </div>
