<div>
  <div [hidden]="!show">
    <div class="cui__utils__heading">
      <strong>Category</strong>
    </div>
    <div class="card">
      <div class="card-header card-header-flex">

        <div class="d-flex flex-column justify-content-center mr-auto">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" [(ngModel)]="term" nz-input placeholder="input search text" (input)="filtersearch()" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </div>
        <div class="col-sm-auto row">
          <div class="form-group row py-3 mr-5">
            <label for="username" class="p-2" style="font-size: medium;">Show Inactive :</label>
            <input type="checkbox" style=" width: 18px; height: calc(1.5em + 0.75rem + 2px);"
              (change)="changefilter($event.target.checked)">
          </div>

          <div class="mx-5 py-3">
            <a (click)="show = !show" class="btn btn-success">
              Add Category
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="card-body"> -->
      <nz-table #basicTable class="kit__utils__table mb-4" nzSize="small" [nzData]="Category">
        <thead>
          <tr>
            <th><strong>Category</strong>
            </th>
            <th><strong> Parent Category</strong>
            </th>
            <!-- <th nzShowSort [(nzSort)]="mapOfSort.quantity" (nzSortChange)="sort('quantity', $event)">
                Quantity</th>
              <th nzShowSort [(nzSort)]="mapOfSort.status" (nzSortChange)="sort('status', $event)">
                Status
              </th> -->
            <th><strong> Action</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of basicTable.data| filter:term">
            <td>
              <!-- routerLink="/apps/addcategory/{{category.id}}" -->
              <a (click)="getcategorybyid(category.id) " class="btn btn-sm btn-light kit__utils__donut--primary">
                {{category.description}}
              </a>
            </td>
            <td>
              {{category.parentCategory? category.parentCategory.description : '--'}}
            </td>
            <!-- <td>

              </td> -->
            <!-- <td>
                <span
                  [ngClass]="[item.status === 'Processing' ? 'font-size-12 badge badge-primary' : 'font-size-12 badge badge-default']">
                  {{item.status}}
                </span>
              </td> -->
            <td>
              <!-- <a href="javascript: void(0);" class="btn btn-sm btn-light mr-2">
                  <i class="fe fe-edit mr-2"></i>
                  View
                </a> -->
              <input type="checkbox" [(ngModel)]="category.isactive" (click)="active(category.id,!category.isactive)" />
            </td>
          </tr>
        </tbody>
      </nz-table>
      <!-- </div> -->
    </div>
  </div>
  <div [hidden]="show" class="card">
    <h5 class="ml-3 mt-3">
      <strong *ngIf="!(category.id > 0)">Add Category</strong>
      <strong *ngIf="category.id > 0">Edit Category:
        <a class="btn btn-sm btn-light" href="javascript: void(0);">
          {{category.description}}
        </a> </strong>
      <!-- <strong >Edit Variant Group</strong> -->
    </h5>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="baseFullname">Category Name</label>
        <div class="col-md-6">
          <input type="text" class="form-control" [(ngModel)]="category.description"
            [ngClass]="{'is-invalid': submitted && category.description == ''}"
            placeholder="Enter Category Group Name..." />
        </div>
        <span *ngIf="submitted && category.description == ''" class="text-danger">*Name cannot be empty</span>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Parant Category</label>
        <div class="col-md-6">
          <select class="form-control" [(ngModel)]="category.parentCategoryId">
            <option value=null>Parent Category</option>
            <option *ngFor="let pcat of pcategories" value="{{pcat.id}}">{{pcat.description}}</option>
          </select>
        </div>
        <!-- <span *ngIf="submitted && variant.variantGroupId == 0" class="text-danger">*Please Select VariantGroup</span> -->
      </div>
      <!-- <div class="form-group row">
        <label class="col-md-3 col-form-label">Variant Group</label>
        <div class="col-md-6">
          <nz-select [(ngModel)]="category.variantgroupids" [nzSize]="size" nzMode="tags" nzPlaceHolder="Please select"
            style="width: 100%;">
            <nz-option [nzLabel]="variantgrp.name" [nzValue]="variantgrp.id" *ngFor="let variantgrp of variantgroups">
            </nz-option>
          </nz-select>
        </div> -->
        <!-- <span *ngIf="submitted && variant.variantGroupId == 0" class="text-danger">*Please Select VariantGroup</span> -->
      <!-- </div> -->
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="formControlRange">Sort Order</label>
        <div class="col-md-6 pt-2">
          <input type="text" class="form-control" [(ngModel)]="category.sortOrder" name="example_name" />
        </div>
      </div>
      <!-- <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="formControlRange">Sort Order</label>
                    <div class="col-md-6 pt-2">
                        <input type="text" class="form-control"  name="example_name"
                            value="" />
                    </div>
                </div> -->
      <button type="button" class="btn btn-secondary px-5" (click)="back()"><i nz-icon nzType="left"></i>Go
        Back</button>
      <button type="button" class="btn btn-success px-5 pull-right" (click)="save()">Save</button>
    </div>
  </div>
</div>
