<div class=" col-xl-12">
    <div class="row">
        <div class="card" *ngIf="isTable">
        <div class="card-header card-header-flex">
            <div class=" justify-content-center mr-2 mt-3">
                <input nz-input type="number" [(ngModel)]="ordNo" placeholder="Order No" min="1" />
            </div>
            <div class=" justify-content-center mr-auto mt-3">
                <ng-template class="w-100" #vn let-r="result" let-t="term">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                </ng-template>
                <input #storeautocomplete style="height: 33px;" #instance="ngbTypeahead" type="text"
                    class="form-control" [(ngModel)]="model" placeholder="Search Store..."
                    [ngbTypeahead]="searchstore" [resultTemplate]="vn" [inputFormatter]="formatterstore"
                    (selectItem)="selectedstoreitem($event.item)" />

            </div>
            <ng-template class="w-100" #ot let-o="result" let-t="term">
                <ngb-highlight [result]="o.name" [term]="t"></ngb-highlight>
            </ng-template>
            <input #Supplierautocomplete style="height: 33px;width: 140px;margin-top: 15px;margin-left: 20px;"
                #instance="ngbTypeahead" type="text" class="form-control" placeholder="Search Supplier..."
                [ngbTypeahead]="searchsupplier" [resultTemplate]="ot" [inputFormatter]="formattersupplier"
                (selectItem)="selectedsupplieritem($event.item)"/>
            <br>
            <br>
            <ng-template class="w-100" #ot let-o="result" let-t="term">
                <ngb-highlight [result]="o.name" [term]="t"></ngb-highlight>
            </ng-template>
            <input #Receiverautocomplete style="height:33px;width: 140px;margin-left: 20px;margin-top: 15px;"
                #instance="ngbTypeahead" type="text" class="form-control" placeholder="Search Receiver..."
                [ngbTypeahead]="searchreceiver" [resultTemplate]="ot" [inputFormatter]="formatterreceiver"
                (selectItem)="selectedreceiveritem($event.item)" />
            <br>

            <div class="d-flex flex-column justify-content-center mr-2" style="margin-left: 20px;">
                <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
            </div>
            <div class="d-flex flex-column justify-content-center" style="margin-left: 40px;">
                <button class="btn btn-success w-30 "  href="javascript: void(0);" (click)="saveOrder()">
                    Save
                </button>
            </div>
        </div>
    </div>
        <nz-card style="height: 90% ;width:25%;" nzTitle="Select Product" [nzExtra]="extraTemplate" *ngIf="isTable">
            <div>
                <ng-template class="w-100" #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.product" [term]="t"></ngb-highlight>
                </ng-template>
                <input id="typeahead-template" [ngClass]="{'is-invalid':submitted &&temporaryItem.product == ''}"
                    [(ngModel)]="model" #productautocomplete style="height: 84%;" #instance="ngbTypeahead" type="text"
                    class="form-control" placeholder="Search Product..." [ngbTypeahead]="search" [resultTemplate]="rt"
                    [inputFormatter]="formatter" (selectItem)="selectedItem($event.item)" />
            </div>
            <br>
            <div>
                <input #quantityel type="number" [ngClass]="{'is-invalid':submitted &&temporaryItem.Quantity <= 0}"
                    [(ngModel)]="temporaryItem.Quantity" onfocus="this.select()" placeholder="Qty" class="form-control"
                    (keyup.enter)="addItem()" min="1" />
            </div>
            <br>
      
        </nz-card>
        <ng-template #extraTemplate>
            <a href="javascript: void(0);" class="btn btn-sm btn-primary" (click)="addItem()">
                <i class="fe fe-plus fa-lg"></i>
            </a>
        </ng-template>
        <div class="col-xs-12 col-md-9 ">
            <div class="card" *ngIf="isTable">
                
                <nz-table #getproduct [nzShowPagination]="false" [nzData]="products" class="kit__utils__table"
                    *ngIf="isTable">
                    <thead>
                        <tr>
                            <th> #</th>
                            <th><strong> Description</strong> </th>
                            <th><strong>Quantity </strong> </th>
                            <th><strong>Price </strong> </th>
                            <th><strong>Action </strong> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of order.Items; let i = index">
                            <td>{{i+1}}</td>
                            <td>
                                <a class="btn btn-sm btn-light" href="javascript: void(0);">
                                    {{product.ProductName}}
                                </a>
                            </td>
                            <td>
                                <input type="number" nz-input nzSize='small' [(ngModel)]="product.OrderQuantity" min="1"
                                    (input)="settotalprice(i,product.OrderQuantity)">
                            </td>
                            <td>
                                {{product.Price}}
                            </td>
                            <td class="text-right">
                                <a href="javascript: void(0);" (click)="delete(i)"
                                    class="btn btn-sm btn-light pull-left" slot="actions">
                                    <i class="fe fe-trash mr-1"></i>
                                </a>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            <button *ngIf="isTable" (click)="back()">Go Back</button>
        </div>
    </div>
</div>
<div>
    <div *ngIf="isShown" class="d-flex text-right">
        <button class="btn btn-success " href="javascript: void(0);" (click)="internal()">
            PLACE Order
        </button>
    </div> <br>

    <nz-table [nzShowPagination]="false" class="kit__utils__table" *ngIf="isShown">
        <thead>
            <tr>
                <th> #</th>
                <th><strong>OrderId</strong> </th>
                <th><strong>OrderedBy Location</strong> </th>
                <th><strong> Supplier Store</strong></th>
                <th><strong>OrderDate</strong> </th>
                <th><strong>DelivDate</strong> </th>
                <th><strong>OrderValue</strong> </th>
                <!-- <th>Location</th>                                                      -->
                <th><strong>Action</strong> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ord of OrdData.order; let i = index">
                <td>{{i+1}}</td>
                <td>
                    <a class="btn btn-sm btn-light" href="javascript: void(0);"
                        (click)="openDetailpopup(contentdetail1,ord.id);reload()">
                        {{ord.id}}
                    </a>
                </td>
                <td>
                    {{ord.receiver}}
                </td>
                <td>
                    {{ord.supplier}}
                </td>
                <td>
                    {{ord.orderedDateTime.slice(0,10)}}
                </td>
                <td>
                    {{ord.deliveryDateTime.slice(0,10)}}
                </td>

                <td>
                    {{ord.price}}
                </td>
                <!-- <td>
            {{ord.name}}
       </td> -->
                <td>
                    <a href="javascript: void(0);" (click)="deleteOrder(ord.id)" class="btn btn-sm btn-light pull-left"
                        slot="actions">
                       <i class="fas fa-check-circle"></i>
                    </a>
                    <a routerLink="/apps/editinternal/{{ord.id}}" href="javascript: void(0);"
                        class="btn btn-sm btn-light ">
                        <i class="fe fe-edit "></i>
                    </a>
                    <a routerLink="/apps/dispatch/{{ord.id}}" href="javascript: void(0);" class="btn btn-sm btn-light ">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
      
        </tbody>
    </nz-table>
    <!-- <div class="row">
        <button class="btn btn-success btn-sm mx-100 w-30 pull-right" *ngIf="isShown" (click)="locback()">Go
            Back</button>
    </div> -->

</div>

<ng-template #contentdetail1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <nz-table class="table table-sm mb-0">
        <thead>
            <tr>
                <td>Product</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ord of popupData.order">
                <td>{{ord.name}}</td>
                <td>{{ord.orderQuantity}}</td>
                <td>&#8377;{{ord.price | number:".2"}}</td>
            </tr>
            <tr>
                <td></td>
                <td> TotalQty</td>
                <td>{{ TotalPrdQty}}</td>
            </tr>
            <tr>
                <td></td>
                <td> TotalAmt</td>
                <td>{{TotalProductSale}}</td>
            </tr>
        </tbody>
    </nz-table>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">OK</button>
    </div>
</ng-template>