<div class="mb-5 col-xl-12 row" #target>
  <div class=" col-xl-4">
    <div>
      <div class="card">
        <div class="card-body" style="z-index: 2;">
          <nz-table #basicTable nzSize="small" [nzData]="tableData" [nzShowPagination]="false" class="table">
            <tbody>
              <tr>
                <td colspan="4">
                  <div>
                    <ng-template class="w-100" #rt let-r="result" let-t="term">
                      <ngb-highlight [result]="r.product" [term]="t"></ngb-highlight>
                    </ng-template>
                    <input #productautocomplete id="typeahead-template" onfocus="this.select()"
                      [ngClass]="{'is-invalid':submitted && !temporaryItem.productId}" style="height: 84%;"
                      #instance="ngbTypeahead" type="text" class="form-control" [(ngModel)]="model" ngDefaultControl
                      placeholder="Search Product..." [ngbTypeahead]="search" [resultTemplate]="rt"
                      [inputFormatter]="formatter"
                      (selectItem)="selectedItem(batchproductmodal, $event.item.barcodeId)" />
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">

                  <div>
                    <input #quantityel type="number"
                      [ngClass]="{'is-invalid':submitted &&temporaryItem.Quantity <= 0 || temporaryItem.Quantity > temporaryItem.quantity}"
                      [(ngModel)]="temporaryItem.Quantity" ngDefaultControl onfocus="this.select()" placeholder="Qty"
                      class="form-control" (keyup.enter)="addItem('user')" min="1" />
                  </div>
                </td>
                <td>

                  <!-- <div>
                    <input #discel [(ngModel)]="temporaryItem.DiscAmount" onfocus="this.select()"
                      placeholder="DiscAmount..." type="number" class="form-control" (keyup.enter)="addItem()" />
                  </div> -->
                </td>
                <td>
                  <button nz-button [disabled]="temporaryItem.Quantity <= 0" nzType="default"
                    class="mr-3 mt-2 pull-right" nzSize="small" (click)="addItem('user')">
                    <i class="fe fe-plus fa-lg mb-1"></i></button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div *ngIf="order&&order.Items.length ;let i = index">

      <div class="mb-4 ">
        <div class=" col-lg">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" [(ngModel)]="order.CustomerDetails.PhoneNo" ngDefaultControl nz-input
              placeholder="Customer PhoneNo" (keyup.enter)="getCustomer()" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button *ngIf="order.CustomerDetails.datastatus == 'new'" nz-button nzType="primary" nzSearch
              (click)="openCustomClass(vertical)"><i nz-icon nzType="plus"></i></button>
            <button *ngIf="order.CustomerDetails.datastatus == 'old'" nz-button nzType="primary" nzSearch><i nz-icon
                nzType="check"></i></button>
            <button *ngIf="order.CustomerDetails.datastatus == 'loading'" nz-button nzType="primary" nzSearch><i nz-icon
                nzType="loading"></i></button>
          </ng-template>
        </div>
        <div *ngIf="order.CustomerDetails.datastatus == 'old'" class="col-lg">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input disabled type="text" [(ngModel)]="order.CustomerDetails.Name" ngDefaultControl nz-input
              placeholder="Name" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button (click)="openCustomClass(vertical)" nz-button nzType="primary" nzSearch><i nz-icon
                nzType="edit"></i></button>
          </ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="order&&order.Items.length" class="ml-6 mb-2">
      <button *ngFor="let spt of storePaymentTypes" type="button" [class.active]="order.StorePaymentTypeId == spt.id"
        (click)="order.StorePaymentTypeId = spt.id;order.PaidAmount = order.BillAmount" class="btn btn-outline-success">
        {{spt.name}}
      </button>
      <!-- <button type="button" [class.active]="order.StorePaymentTypeId == 0"
                (click)="order.StorePaymentTypeId = 0;order.PaidAmount = 0" class="btn btn-squared">
                Unpaid
            </button> -->

      <button nz-button class="btn btn-outline-success" style="height: auto" [class.active]="splitpaymenttotal > 0"
        (click)="showModal()">
        <span>Split payment</span>
      </button>



      <nz-modal [(nzVisible)]="isVisible" nzTitle="Split Payment" (nzOnCancel)="handleCancel()">
        <div *ngIf="order">

          <div class="col-lg-12">
            <strong>Bill Amount: </strong> <span>{{order.BillAmount}}</span>
            <strong style="margin-left: 110px;">Total Split Amount: </strong> <span>{{splitpaymenttotal}}</span>
          </div><br>
          <!-- <input type="number"  nz-input placeholder="Cash"> <br> <br>
          <input type="number"  nz-input placeholder="Online Payment"> <br> <br> -->
          <div class="col-lg-12 row" *ngFor="let transaxn of storePaymentTypes" style="align-items: center;">
            <div class="col-lg-6 pl-0">
              <label [style.color]="transaxn.Amount>0 ? '#48a6b6' : 'black'" class="form-check-lable">{{transaxn.name}}
              </label>
            </div>
            <div class="col-lg-6 row" style="align-items: center;">
              <span>₹</span>
              <input id="{{transaxn.id}}" name="{{transaxn.name}}" type="number" (input)="calculatesplitpaymenttotal()"
                class="form-control " style="width: 182px;" [(ngModel)]="transaxn.Amount" ngDefaultControl>
            </div>
          </div>

          <span class="text-danger" *ngIf="splitpaymenttotal > order.BillAmount"
            style="font-size: 10px; position: absolute;">* Total Amount EXCEEDING the Ammount
            Payable</span>
          <span class="text-danger" *ngIf="splitpaymenttotal == -1" style="font-size: 10px; position: absolute;">*
            Amount can't be ZERO or LESSER</span>

          <div *nzModalFooter>
            <button nz-button nzType="danger" (click)="resetsplitpayment()">Reset</button>
            <!-- <button nz-button nzType="default" (click)="cancelsplitpayment()">Back</button> -->
            <button nz-button nzType="primary"
              [disabled]="splitpaymenttotal == -1 || splitpaymenttotal > order.BillAmount"
              (click)="confirmsplitpayment()">Ok</button>

          </div>

        </div>

      </nz-modal>


      <!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="Split Payment" (nzOnReset)="handleReset()" (nzOnOk)="handleOk()"
        [nzOkLoading]="isOkLoading">
       
      </nz-modal> -->

      <button class="btn btn-warning ml-3" [disabled]="order&&order.Items.length == 0" (click)="draftOrder()">
        <i class="fa fa-save"></i>
        Draft
      </button>

    </div>
    <div *ngIf="order&&order.Items.length" class="text-right font-size-18 text-dark p-4 rounded bg-light">
      <div>
        Sub - Total amount: <span class="font-weight-bold">&#8377; {{order.Subtotal}}</span>
      </div>
      <div>
        Tax: <span class="font-weight-bold">&#8377; {{order.TaxAmount}}</span>
      </div>
      <div>
        <a (click)="openCustomClass(bulkdiscount)">
          <i class="fa fa-percent "> Discount </i>
          <span class="font-weight-bold font-size-24">:&#8377; {{order.DiscAmount}}</span>
        </a>
      </div>
      <!-- <div>
        Discount: <span class="font-weight-bold">&#8377;
          <input #discel [(ngModel)]="order.DiscAmount" (input)="order.setbillamount()" ngDefaultControl
            placeholder="DiscAmount..." type="number" style="border: none;width: 25%;" /></span>
      </div> -->
      <div>
        Grand Total: <span class="font-weight-bold font-size-24">&#8377; {{order.BillAmount }}</span>
      </div>

      <button class="btn btn-success mt-3" (click)="saveOrder()"
        [disabled]="!order.StorePaymentTypeId && splitpaymenttotal != 0">
        Recieve (₹ {{order.PaidAmount}} /- )
      </button>
    </div>
    <ng-template #vertical let-modal>
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="order&&order.CustomerDetails.Id == 'new'" id="modal-basic-title"> Add
          Customer
        </h5>
        <h5 class="modal-title" *ngIf="order&&order.CustomerDetails.Id == 'old'" id="modal-basic-title">Update
          Customer</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="px-5 ">
            <div>
              <nz-form-item>
                <nz-form-label nzFor="name">Name</nz-form-label>
                <nz-form-control class="ml-2">
                  <input nz-input [(ngModel)]="order.CustomerDetails.Name" placeholder="Name" ngDefaultControl>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <nz-form-item>
                <nz-form-label nzFor="phone">Phone</nz-form-label>
                <nz-form-control class="ml-2">
                  <input nz-input [(ngModel)]="order.CustomerDetails.PhoneNo" placeholder="Phone Number"
                    ngDefaultControl>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <nz-form-item>
                <nz-form-label>Address</nz-form-label>
                <nz-form-control class="ml-1">
                  <input nz-input [(ngModel)]="order.CustomerDetails.Address" placeholder="Address" ngDefaultControl>
                </nz-form-control>
              </nz-form-item>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="savedata();modal.close('Save click')">Save
        </button>
      </div>
    </ng-template>

    <ng-template #split let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Split Payment</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-20">
        <div>
          <div class="px-5">
            <div>
              <nz-form-item>
                <nz-form-label nzFor="name">Cash</nz-form-label>
                <nz-form-control class="ml-2">
                  <input nz-input type="number" id="name" placeholder="Count">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <nz-form-item>
                <nz-form-label nzFor="phone">Card</nz-form-label>
                <nz-form-control class="ml-2">
                  <input nz-input type="number" id="phone" placeholder="Count">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <nz-form-item>
                <nz-form-label>Bhim</nz-form-label>
                <nz-form-control class="ml-1">
                  <input nz-input type="number" id="adress" placeholder="Count">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Save
        </button>
      </div>
    </ng-template>
    <ng-template #batchproductmodal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"> Select Batch Product</h5>
        <button type="button" class="close" aria-label="Close" (click)="crossclick();d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nz-table #smallTable nzSize="small" [nzData]="batchproduct" [nzShowPagination]="false">
          <thead>
            <tr>

              <th>Name</th>
              <th>AvailableQty</th>
              <th>Price</th>
              <th>ExpiaryDate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of smallTable.data" (click)="product.quantity>0&&selectedproduct(product)"
              [ngClass]="{'pointer': product.quantity>0,'na' : product.quantity==0}">
              <td>{{ product.product }}</td>
              <td>{{ product.quantity }}</td>
              <td>&#8377; {{ product.price }}</td>
              <td>{{ product.expiaryDate | date: 'MMM d, y' }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>


    </ng-template>
  </div>
  <div class="col-xl-8">
    <div class="card">
      <div class="card-header card-header-flex">
        <div class="justify-content-center mr-auto mt-3">
          <div class="row">
            <strong for="fname" style="margin-top: 10px;">Order No :</strong><br>
            <h4 class="text-success" style="margin-left: 3px; font-weight: 900;margin-top: 7px;"
              [(ngModel)]="orderkey.orderno " ngDefaultControl>
              {{orderkey.orderno}}</h4>
            <button class="btn btn-link"><i class="fa fa-qrcode" style="font-size: xx-large;"></i></button>

            <div *ngFor="let dorder of draftOrders" class="btn-group">
              <ul class="list-group">
                <a style="height: 35px;" href="javascript:void(0);" (click)="loadDraftOrder(dorder)"
                  [class.cat-active]="selectedDraftIndex == dorder.draftIndex" class="btn btn-outline-danger">
                  <code>[{{dorder.draftIndex}}]</code>{{dorder.draftName}}
                </a>
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center ">
          <!-- <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker> -->
        </div>
        <!-- <div class="d-flex flex-column justify-content-center ">
          <a class="btn btn-link pull-right border" (click)="clearallorders()">
            <i class="fe fe-trash-2"></i> Clear List
          </a>
        </div> -->

        <div class="d-flex flex-row-reverse" style="padding-left:20%;">
          <div class="row pl-4 pt-1">

            <!-- <a style="margin: auto;" (click)="openCustomClass(Additioncharge)">
              &nbsp; Addition Charge |
            </a> -->
            <a style="margin: auto;" class="btn btn-link pull-right border" (click)="clearallorders()"><i
                class="fe fe-trash-2"></i>
              &nbsp; Clear Order
            </a>
          </div>
        </div>

      </div>
      <div>
        <nz-table #cartTable nzSize="middle" [nzShowPagination]="false" [nzData]="products"
          class="kit__utils__table mb-4" [nzScroll]="{x:'auto',y:'57vh'}">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order&&order.Items ;let i = index">
              <td>{{i+1}}</td>
              <td>
                <a class="btn btn-sm btn-light" href="javascript: void(0);">
                  {{item.ProductName}}
                </a>
              </td>
              <td>

                <input type="number" nz-input [(ngModel)]="item.OrderQuantity" ngDefaultControl
                  (keyup)="quantitychange(item,$event);" (change)="quantitychange(item,$event);" class="w-50"
                  onfocus="this.select()">
                <span class="font-x-large">/</span>
                <span class="font-x-large">{{item.maxQty - item.OrderQuantity}}</span>
              </td>
              <td>
                &#8377; {{item.Price}}
              </td>
              <td>&#8377; {{item.TotalAmount}}</td>
              <td class="text-right">
                <a href="javascript: void(0);" (click)="delete(i)" class="btn btn-sm btn-light pull-left"
                  slot="actions">
                  <i class="fe fe-trash mr-1"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="!(order&&order.Items.length)">
              <td colspan="10" class="text-center">
                Cart is Empty!
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>

<!-- Addition Charges Modal-->
<ng-template #Additioncharge let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Additional Charge
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let charge of order.additionalchargearray">
      <label style="color: black;"><b>{{charge.Description}} {{charge.ChargeType == 1 ? '' : '%'}}</b></label>
      <br>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input [(ngModel)]="charge.selected" type="checkbox" aria-label="Checkbox for following text input"
              ngDefaultControl>
          </div>
        </div>
        <input type="number" [(ngModel)]="charge.ChargeValue" class="form-control" ngDefaultControl>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="order.setbillamount();modal.close('Save click')">Save
      Changes</button>
  </div>
</ng-template>

<!-- Discount -->
<!-- 22-06-2022 -->

<ng-template #bulkdiscount let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title"> Discount
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label *ngIf="order.DiscType == 1" style="color: black;"><b>CASH DISCOUNT</b></label>
    <label *ngIf="order.DiscType == 2" style="color: black;"><b>PERCENTAGE DISCOUNT</b></label>
    <br>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input" #bulkcashdiscount
            (change)="$event.target.checked" name="discount" [(ngModel)]="order.DiscType" [value]="1" id="discount1"
            checked>
        </div>
      </div>
      <input [disabled]=!bulkcashdiscount.checked [(ngModel)]="order.DiscAmount" type="number" class="form-control"
        placeholder="CASH">
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input" #bulkpercentdiscount
            (change)="$event.target.checked" name="discount" [(ngModel)]="order.DiscType" [value]="2" id="discount2">
        </div>
      </div>
      <input [disabled]=!bulkpercentdiscount.checked [(ngModel)]="order.DiscPercent" type="number" class="form-control"
        placeholder="PERCENTAGE">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      (click)="order.setbillamount();modal.close('Save click')">Apply</button>
  </div>
</ng-template>